:root {
  --color-bright: #e5e5e5;
  --color-dark: #f13c6e;
  --color-clear: #ffffff;
  --color-text-bright: #333333;
  --color-text-dark: #000000;
  --color-line: #efefef;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: var(--color-text-bright);
  background-color: var(--color-clear);
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 0 25px;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.container--logo {
  flex-wrap: wrap;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 0;

}

.navbar-secondary {
  background-color: var(--color-bright);
  padding: 1em 0;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.navbar-secondary__list {
  list-style: none;
  display: flex;
  gap: 0.5em 30px;
  flex-wrap: wrap;
}

.navbar-secondary__link {
  line-height: 16px;
}

.logo__link {
  max-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.1em;
  color: var(--color-dark);
  margin: 0 20px;
}

.feedback {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.feedback__call {
  font-size: 1rem;
  line-height: 19px;
  color: var(--color-text-dark);
}

.feedback__action {
  line-height: 16px;
  color: var(--color-text-dark);
  min-width: 170px;
  height: 40px;
  border: 2px solid var(--color-dark);
  border-radius: 20px;
  background-color: var(--color-clear);
}

.navbar-primary {
  padding: 1em 0;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-line);
}

.navbar-primary__list {
  list-style: none;
  display: flex;
  gap: 0.5em 40px;
  flex-wrap: wrap;
}

.navbar-primary__link {
  color: var(--color-text-dark);
}

.main {
  background-color: var(--color-bright);
  padding-bottom: 80px;
}

.hero {
  background-color: var(--color-dark);
  background-image: url(../../img/Rectangle2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 604px;
  padding-top: 192px;
  padding-bottom: 192px;
  margin-bottom: 80px;
}

.hero__content {
  max-width: 310px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.hero__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: var(--color-clear);
  margin: 0;
}

.hero__description {
  line-height: 20px;
  color: var(--color-clear);
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--color-clear);
  max-width: 170px;
  height: 40px;
  border: 2px solid var(--color-clear);
  border-radius: 20px;
  padding: 0.5em 1em;
}

.specials {
  margin-bottom: 100px;
}

.specials__content {
  display: flex;
  gap: 30px;
}

.specials__title {
  margin-bottom: 40px;
}

.special {
  background-color: var(--color-clear);
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.special__image {
  order: 1;
}

.special__title {
  order: 2;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-text-bright);
}

.special__price {
  order: 3;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: var(--color-text-dark);
}

.special__buy {
  order: 6;
}

.special__action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 35px;
  background: var(--color-dark);
  border-radius: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--color-clear);
}

.submit {
  margin-bottom: 100px;
}

.container--submit {
  display: flex;
  gap: 30px;
}

.subscribe {
  background-color: var(--color-dark);
  background-image: url(../../img/envelope.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  min-height: 210px;
  padding: 35px 40px;
  width: 540px;
  flex-grow: 1;
}

.subscribe__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-clear);
}

.subscribe__description {
  max-width: 231px;
  line-height: 20px;
  color: var(--color-clear);
  margin: 25px 0;
}

.subscribe__input {
  width: 225px;
  height: 35px;
  background: var(--color-clear);
  border-radius: 30px;
  border: none;
}

.location {
  background-image: url(../../img/x368.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-color: var(--color-dark);
  min-height: 210px;
  padding: 35px 40px;
  width: 540px;
  flex-grow: 1;
}

.location__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-clear);
}

.location__description {
  max-width: 141px;
  line-height: 20px;
  color: var(--color-clear);
  margin: 25px 0;
}

.location__action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 35px;
  background: var(--color-dark);
  border-radius: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--color-clear);
  border: 2px solid var(--color-clear);
  line-height: 16px;
}

.container--brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 120px;
  gap: 2px;
  padding-bottom: 80px;
}

.brand-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-clear);
  padding: 1em;
}

.brand-item__image {
  width: 100%;
  max-width: 150px;
}

.viewed__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-text-dark);
}

.viewed__content {
  display: flex;
  gap: 30px;
}

.container--tools {
  display: flex;
  column-gap: 30px;
  padding-top: 60px;
}

.categories {
  min-width: 255px;
  padding-bottom: 60px;
}

.categories__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 140.62%;
  color: var(--color-text-dark);
  border-bottom: 1px solid var(--color-line);
  padding-bottom: 30px;
}

.categories__list {
  padding-top: 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.categories__item {
  font-size: 12px;
  line-height: 28px;
  color: #828282;
}

.media {
  display: flex;
  column-gap: 20px;
}

.media__link {
  height: 45px;
  width: 45px;
  text-align: center;
  display: block;
  font-size: 25px;
  padding: 6px;
  background: var(--color-clear);
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
  border-radius: 45px;
}

.footer-feedback {
  border-top: 1px solid var(--color-line);
}

.container--lable {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 25px 0;
}

.footer-rights {
  min-height: 64px;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  background-color: var(--color-line);
}